@model Library_Management_System.Models.Entity.Book
@{
    ViewBag.Title = "BookBring";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("BookUpdate", "Book", FormMethod.Post))
{

    <div class="form-group">

        <div style="margin-top:15px"></div>
        <div>
            <label>Kitap Id</label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        </div>

        <div style="margin-top:15px"></div>
        <div>
            <label>Kitap Adı</label>
            @Html.TextBoxFor(k => k.Name, new { @class = "form-control" })
        </div>

        <div style="margin-top:15px"></div>
        <div>
            <label>Kategori</label>
            @Html.DropDownListFor(k => k.Categories.Id,(List<SelectListItem>)ViewBag.dgr1,new{@class="form-control"})
        </div>
        <div style="margin-top:15px"></div>
        <div>
            <label>Yazar </label>
          @Html.DropDownListFor(k => k.Author.ID, (List<SelectListItem>)ViewBag.dgr2, new {@class="form-control"})
        </div>
        <div>
            <label>Basım Yılı </label>
            @Html.TextBoxFor(k => k.PrıntıngYear, new { @class = "form-control" })
        </div>
        <div>
            <label>Yayınevi</label>
            @Html.TextBoxFor(k => k.Publısher, new { @class = "form-control" })
        </div>
        <div>
            <label>Sayfa Sayısı </label>
            @Html.TextBoxFor(k => k.PagesNumber, new { @class = "form-control" })
        </div>
        <div>
            <label>Durum</label>
            @Html.TextBoxFor(k => k.Status, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>
            <input type="hidden" name="Status" value="True" />
        </div>

    </div>
}