@using Library_Management_System.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Members>
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>
<table class="table table-bordered">
    <tr>
        <th>Üye Id</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Mail</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Telefon</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var y in Model)
    {
        <tr>
            <td>@y.Id</td>
            <td>@y.Name</td>
            <td>@y.Surname</td>
            <td>@y.Mail</td>
            <td>@y.UserName</td>
            <td>@y.Password</td>
            <td>@y.PhoneNumber</td>
            <td>@y.School</td>
            <td>@Html.ActionLink("Delete", "MembersDelete", new { Id = y.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyormusunuz')" })</td>

            <td><a href="/Members/MembersBring/@y.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@*sayfamıza pagedlist ve pagedlist mvs entegre ettik
ardından var olan index controllerın kütüphanesinede eklenti yapıldı ve sayfanın başlangıç değeri ile birlikte bir dizi page oluşturulması istendi.
vievs kısmında listeleme yapmak için ıpagelist öğesinden yardım alındı ve sayfalar oluşturmak için html helpırlarından destek alındı.*@
@Html.PagedListPager((IPagedList)Model, Page => Url.Action("Index", new { Page }));

<a href="/Members/MembersAdd/" class="btn btn-primary">Yeni Üye Ekle</a>
